@using Microsoft.AspNetCore.Components.Sections
@inherits LayoutComponentBase

<MudThemeProvider @ref="_themeProvider" Theme="@_theme" IsDarkMode="_isDarkMode" ObserveSystemThemeChange=@(_currentThemeIcon == AutoThemeIcon) />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<BottomSheetOutlet ColorScheme="@(_isDarkMode ? BottomSheetColorScheme.Dark : BottomSheetColorScheme.Light)" />

@if(_isVisible) {
    <MudLayout>
        <MudAppBar Elevation="1">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            <MudText Typo="Typo.h5" Class="ml-3">
                <SectionOutlet SectionName="@AppBarHeaderName" />
            </MudText>

            <MudSpacer />
            
            <MudMenu Label="Theme" EndIcon="@_currentThemeIcon" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight">
                <MudMenuItem Label="Auto" Icon="@AutoThemeIcon" OnClick="()=>SetCurrentThemeIcon(AutoThemeIcon)" />
                <MudMenuItem Label="Light" Icon="@LightThemeIcon" OnClick="()=>SetCurrentThemeIcon(LightThemeIcon)" />
                <MudMenuItem Label="Dark" Icon="@DarkThemeIcon" OnClick="()=>SetCurrentThemeIcon(DarkThemeIcon)" />
            </MudMenu>
        </MudAppBar>

        <MudDrawer id="nav-drawer" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
            <NavMenu />
        </MudDrawer>

        <MudMainContent Class="pt-16 pa-4" Style="height: 100%;">
            @Body
        </MudMainContent>
    </MudLayout>
}


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

