@page "/"

<PageTitle>Sample</PageTitle>
<span data-testid="sample-instance-id" style="display: none;">@_instanceId</span>

<MudStack>
    <MudChipSet @bind-SelectedValues="_selectedOptions" SelectionMode="SelectionMode.MultiSelection" Variant="Variant.Text" Color="Color.Info">
        <MudChip Value="@AllowCloseOption" />
        <MudChip Value="@AllowMinimizeOption" />
        <MudChip Value="@AllowNormalOption" />
        <MudChip Value="@AllowMaximizeOption" />
        <MudChip Value="@IsModalOption" />
        <MudChip Value="@CloseOnBackgroundClickOption" />
    </MudChipSet>

    <MudButton OnClick="ToggleButtonSheetOpen" Variant="Variant.Filled" Color="Color.Primary" Class="mt-5" data-testid="open-close-button">Open/Close BottomSheet</MudButton>
    <MudButton OnClick="ToggleButtonSheetVisible" Color="Color.Primary">Show/Hide BottomSheet</MudButton>
</MudStack>

<BottomSheet 
    IsModal=_selectedOptions.Contains(IsModalOption) CloseOnBackgroundClick=_selectedOptions.Contains(CloseOnBackgroundClickOption)
    AllowClosedExpansion=_selectedOptions.Contains(AllowCloseOption) AllowMinimizedExpansion=_selectedOptions.Contains(AllowMinimizeOption) 
    AllowNormalExpansion=_selectedOptions.Contains(AllowNormalOption) AllowMaximizedExpansion=_selectedOptions.Contains(AllowMaximizeOption)
    @bind-IsOpen:get=ViewModel.State.IsOpen @bind-IsOpen:set=ViewModel.SetIsOpen 
    @bind-Expansion=_expansion IsVisible=_isBottomSheetVisible
>
    <div style="height: 100%;">
        <div style="height: 100%; display: flex; flex-direction: column;">
            <MudText Typo="Typo.h6" Class="my-5">Header <MudText Typo="Typo.subtitle2" Inline>(visible in all states)</MudText></MudText>
            <MinimizedExpansionMarker />

            <MudText Typo="Typo.h6">Body <MudText Typo="Typo.subtitle2" Inline>(visible when expansion >= Normal)</MudText></MudText>

            <MudButton OnClick="()=>_expansion=BottomSheetExpansion.Closed" Variant="Variant.Filled" Color="Color.Primary" FullWidth Size="Size.Large" Class="py-4 mb-5">Close Bottomsheet</MudButton>
            <MudSelect @bind-Value="_expansion" Label="Expansion" OuterClass="custom-select">
                @foreach (var expansion in Enum.GetValues<BottomSheetExpansion>())
                {
                    <MudSelectItem Value="expansion">@expansion</MudSelectItem>
                }
            </MudSelect>
            <MudCheckBox Label="IsOpen" @bind-Value:get=ViewModel.State.IsOpen @bind-Value:set=ViewModel.SetIsOpen  />

            <MudText Typo="Typo.h6" Class="mt-5">Scrollable area</MudText>
            <NormalExpansionMarker style="transform: translateY(10em);" />

            <div style="overflow-y: scroll; min-height: 20em;">
                @for(int i = 1; i <= 3; i++) {
                    <text>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at ipsum vel nisi viverra tristique. Fusce non imperdiet ipsum, vitae mollis tortor. Proin vulputate odio eget sapien scelerisque, sit amet dapibus mauris pulvinar. Phasellus quis leo vitae purus pellentesque commodo nec quis justo. Nullam sagittis pulvinar ligula, eu viverra diam iaculis eu. Praesent congue nisi a aliquam volutpat. Morbi suscipit pulvinar nulla, id consequat quam porta vitae. Sed sed ipsum in sapien luctus euismod. Donec eu risus ut libero lobortis interdum.
                        Praesent ac leo congue, consectetur est ut, bibendum metus. Curabitur sed leo tincidunt, sollicitudin felis quis, mollis risus. Ut iaculis lectus ac neque ornare condimentum. Praesent posuere sem sit amet luctus tempor. Nulla a magna id augue bibendum tempus et nec dolor. Etiam et libero dolor. Cras lacinia nisi ut lacus venenatis ullamcorper. Sed varius posuere cursus. Donec convallis nulla vitae magna lobortis laoreet. Praesent pulvinar gravida maximus.
                    </text>
                }
            </div>

            <MudText Typo="Typo.h6" Class="mt-5">Footer <MudText Typo="Typo.subtitle2" Inline data-testid="footer">(only visible when Expansion = Maximized)</MudText></MudText>
        </div>
    </div>
</BottomSheet>
