<SectionContent SectionId="@((BottomSheetOutlet.ContentSectionName, _sectionContentId))">
    <!-- note: class attribute is handled by js code! -->
    <div @ref="_layoutElm" class="bottom-sheet-layout"
        data-allow-closed-expansion=@AllowClosedExpansion
        data-allow-minimized-expansion=@AllowMinimizedExpansion
        data-allow-normal-expansion=@AllowNormalExpansion
        data-allow-maximized-expansion=@AllowMaximizedExpansion
        data-visible=@IsVisible 
        data-expansion=@((int)_expansionToRender)
        @attributes="AdditionalAttributes"
    >
        @if (IsModal) {
            <div class="bottom-sheet-background @GetColorSchemeStyleClass() @BackgroundClass" @onclick="OnBackgroundClickAsync" data-testid="bottom-sheet-background" />
        }

        <div class="bottom-sheet closed @GetColorSchemeStyleClass() @Class" style="transform: translateY(100%);" data-testid="bottom-sheet"> <!-- note: style attributes are handled by javascript -->
            <div class="bottom-sheet-handle" data-testid="bottom-sheet-handle">
                @Handle
            </div>
            <div class="bottom-sheet-body">
                @ChildContent
            </div>
        </div>
    </div>

</SectionContent>

@code {
    private RenderFragment CreateDefaultHandle() =>
        @<svg xmlns="http://www.w3.org/2000/svg" draggable="false" width="100%" height="4" viewBox="0 0 80 4" fill="none">
            <rect x="20" width="40" height="4" rx="2" fill="#C4C4C4"/>
        </svg>; 
}